<section class=" lg:w-screen mx-9 ">
    <form class="flex gap-x-4 text-sm lg:text-base overflow-hidden justify-center lg:mt-10 ">
        <input class="flex-1 p-2 text-black rounded-md " type="text" id="searchInput" placeholder="Busca aquí..." >
        <button type="submit" class="w-40 bg-primario p-3  font-extrabold rounded-md  ">Search</button>
    </form>

    <div>
        <ul id="recommendations"></ul>  
    </div>

</section>