<section class="grid place-content-center text-center ">
  <h2 class="font-principal text-2xl md:text-3xl lg:text-4xl">
    Estamos en Desarrollo
  </h2>
  <a
    class="bg-primario  py-3 rounded-md font-principal hover:scale-105 transition-transform duration-100 ease-linear"
    href="/"
  >
    Regresar Home
  </a>
</section>
