<section class="h-screen">
    <h1 class=" font-principal text-center  lg:text-start text-4xl uppercase"> Tic Tac Game </h1>
     <canvas id ="board"></canvas>
</section>
 
<script src="/src/scripts/TicTacGames.js"  ></script>

