---
import Layout from '../layouts/Layout.astro';
import GameBlackJack from '../components/BlackJack/GameBlackJack.astro';
---

<Layout title="Welcome to Astro.">
  
	<main class="mt-14 flex  flex-col gap-5 mb-28">
     <h1 class="font-principal text-center text-4xl  lg:text-start  uppercase">BlackJack</h1>
	<GameBlackJack />
    </main>
</Layout>


