---
import Layout from '../layouts/Layout.astro';
import CalcuPropina from '../components/CalcuPropina/calcuPropina.astro';
---

<Layout title="Calculador de Propinas">
  
	<main class="mt-14 flex  flex-col gap-5">
     <h1 class="text-center text-xl font-bold lg:text-start lg:text-3xl uppercase">Calcular La propina</h1>
	<CalcuPropina />
    </main>
</Layout>


