---
import Layout from '../layouts/Layout.astro';
import CalcuPropina from '../components/CalcuPropina/calcuPropina.astro';
---

<Layout title="Calculador de Propinas">
  
	<main class="mt-14 flex  flex-col gap-5">
     <h1 class="font-principal text-3xl lg:text-4xl  text-center py-3 text-[#faa92e] ">Calcular La propina</h1>
	<CalcuPropina />
    </main>

    
</Layout>


