---
import Layout from '../layouts/Layout.astro';
import MathGame from '../components/MiniJuegoMath/MathGame.astro';
---

<Layout title="Welcome to Astro.">
  
	<main class="mt-14 flex  flex-col gap-5 mx-3 ">
     <h1 class=" font-principal text-center   lg:text-start text-4xl uppercase"> Math
        Master</h1>
        <MathGame />
    </main>
</Layout>


