---
import Layout from '../layouts/Layout.astro';
import TicTacGames from '../components/TicTacJuego/TicTacGame.astro';
---

<Layout title="TicTacGame">
  
	<main class="mt-14 flex  flex-col gap-5 mx-3 ">
      <TicTacGames />
         
    </main>
</Layout>


