<section>
    <form>
        <h3>El Crustáceo Cascarudo</h3>
        <div>
            <p>Cliente: Bob P. Esponja</p>
            <p> Mesa: 12</p>
            <p> Fecha: 20 de octubre de 2024</p>
        </div> 
        <div>
            <p> Mesero: Calamardo Tentáculos</p>
            <p> Hora: 13:00</p>
        </div>
        <div>
            <p> Artículos consumidos:</p>
            <ul>
                <li> Cangreburger sencilla: $---</li>
                <li> Papas fritas de Fondo de Bikini: $---</li>
                <li> Helado de medusa: $--</li>
                <li>Refresco Kelp : $--</li>
            </ul>
        </div>
      


        <label for="total">Total de la cuenta</label>
        <input type="number" id="total" name="total" step="0.01" required>
        <label for="porcentaje">Porcentaje de propina</label>
        <input type="number" id="porcentaje" name="porcentaje" step="0.01" required>
        <button type="submit">Calcular</button>
    </form>
</section>