<article class="  relative h-[470px] lg:w-[750px] rounded-2xl overflow-hidden mx-3 lg:mx-0">
    <img id="imagenCalamardo" loading="lazy" class="object-cover w-full h-full object-center " src="https://e.rpp-noticias.io/xlarge/2018/02/13/034903_564424.jpg" alt="Un restaurante de dibujos animados">
    <div class="bg-theme-black-t-50 text-white absolute inset-0 flex items-center text-center flex-col justify-center  ">
        <header>
            <h2 class="font-principal py-3 text-xl tracking-wider">Calamardo Tentáculos</h2>
        </header>
        <section class="container">
            <div class="py-2">
                <p class="text-lg font-bold text-gray-200">Si Calamardo te dio un servicio:</p>
                <span id="Resultaservicio" class="text-xl font-principal text-yellow-200">---</span>
            </div>
            <div class="py-2">
                <p class="text-lg">Si el Total a pagar es :</p>
                <span  id="Resultadototal" class="total font-principal text-xl tracking-widest text-secundario">---</span>
            </div>
            <div class="py-2">
                <p class="text-lg">Propina recomendada para Calamardo:</p>
                <span id="Resultadopropina" class="tip font-principal text-xl tracking-widest text-secundario">---</span>
            </div>
        </section>
    </div>
</article>



<!-- text-[#f87272] -->