---
import GithubIcon from "../../utils/GithubIcon.astro"
---
<div class="hidden lg:block">
    <a
      class=""
      href="https://github.com/z6nc/EjerciciosWebJS"
      target="_blank"
      aria-label="Ir a mi GitHub"
    >
      <span
        id="ContenedorGit"
        class=" w-40 inline-flex items-center justify-center gap-x-4 py-2  shadow-boxBottom  border border-white/15 rounded-lg  transition-transform duration-100 ease-in hover:scale-105"
      >
        <GithubIcon />
        <p class="text-sm font-principal tracking-wide">Dejar tu ⭐ </p>
      </span>
    </a>

</div>