<article class=" flex  flex-col-reverse  w-full gap-5  lg:flex-row">
    <div class="lg:w-[50%] w-full rounded-2xl overflow-hidden">
        <img  class="imageUser  w-full h-full  rounded-2xl  transition-all duration-150  hover:scale-110" src="https://tse4.mm.bing.net/th?id=OIG1.iLHZuRtxTqDjnyS2J2F.&pid=ImgGn" alt="">
    </div>

    <div class="bg-black rounded-2xl flex flex-col w-full   gap-4  p-9">
      <span class="text-center lg:text-start">Calificacion 3/5</span>
      <div class=" mb-3 text-center lg:text-start">
        <h4 class="nameUser text-3xl font-bold">Cristiano Ronaldo</h4>
        <p  class="jobuser text-gray-400">Developer web</p>
      </div>
       
      <p  class="comments   ">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel fugit dolores tempora sint et neque quo suscipit illum sit. Illo ut id deleniti dolores eum laudantium neque, minima voluptatem et.
      </p>
       
    </div>
</article>


