
    <article class=" flex flex-col justify-center  rounded-2xl p-6 max-w-xl bg-white text-black  transition-all duration-200 hover:translate-y-[-9px] lg:h-64">
      <p  class="container-commnet comments   font-medium text-gray-500 mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel fugit dolores tempora sint et neque quo suscipit illum sit. Illo ut id deleniti dolores eum laudantium neque, minima voluptatem et.
      </p>
      <div class="container-info-user flex gap-4">
        <div class="container-photo-user flex overflow-hidden  w-20 h-20 rounded-full">
          <img  class="imageUser  w-full h-full" src="https://tse4.mm.bing.net/th?id=OIG1.iLHZuRtxTqDjnyS2J2F.&pid=ImgGn" alt="">
        </div>
        <div class="container-name-user flex flex-col justify-center  ">
          <h4 class="nameUser text-lg font-bold">Cristiano Ronaldo</h4>
          <p  class="jobuser">Developer web</p>
        </div>
      </div>
    </article>
