<nav class="flex   text-center  items-center gap-3 justify-center lg:justify-between mt-6 mx-3 lg:flex-row lg:mt-7">
  <div class="flex items-center gap-2 ">
   
  
    <h3 class=" font-principal text-4xl ">
      <a class="flex gap-2 text-center" href="/"><span class="text-[#6AFF62] ">
        LABO  </span> 
        <span>
          <svg class="css-ze2te4 css-qd6ojx w-10  lg:w-12 transition-all duration-200 hover:translate-y-[-12px] "  viewBox="0 0 39.20822607 36.5672407"><g xmlns="http://www.w3.org/2000/svg" class="css-19hi9rc" 
            fill="white"><path  d="M13.7718894 27.29096539c0 .36934149.2983746.66850025.6677161.66850025h6.20509386l-6.4140737 2.14076915c-.35248196.11448802-.54146561.49598406-.42697759.8441531.09449183.2830834.3579711.4599125.63595743.4599125.06979064 0 .14311002-.01254664.21329275-.033327l10.32587841-3.44444266c.3117054-.10272555.50500196-.41795969.4508946-.7426038-.05332318-.32346786-.33209367-.56185388-.66026652-.56185388H14.4392134c-.3689494.00039208-.667324.29876668-.667324.66889234zM24.2930248 33.70464701c-.0113704.01215455-1.56087949 1.5252-4.68655927 1.5252-1.68595372 0-2.91160287-.43403507-3.68322076-.84062437l9.05474773-3.01824925c.35287403-.11880092.54107352-.49990488.42697758-.848466-.11997717-.35248196-.49676822-.5418577-.84964226-.4222726l-10.32509425 3.44012975c-.22191856.07371147-.38972977.25838221-.44266087.48343743-.05371527.22623146.01568329.46383331.17996576.62733162.07802437.07802437 1.95962713 1.916106 5.63853499 1.916106 3.67381078 0 5.5565898-1.83808163 5.63500625-1.916106.26230303-.26191095.26230303-.68849645 0-.94648658-.26269512-.26230303-.6853598-.26230303-.9480549 0zM19.60646553.80384827c-6.06590466 0-10.9982995 4.93278692-10.9982995 10.99398659 0 3.04687125 1.63968802 5.48287833 3.08372698 7.62835246 1.11508195 1.65184257 2.0799964 3.07941408 2.0799964 4.42425623 0 .3689494.2983746.66810817.66771609.66810817s.67281316-.29915876.67281316-.66810817c0-1.7549602-1.12449193-3.41621274-2.30936452-5.17509376-1.40639907-2.08313305-2.8578876-4.23605674-2.8578876-6.87751493 0-5.3225167 4.3344694-9.65698608 9.66169107-9.65698608 5.32330085 0 9.65698608 4.33486147 9.65698608 9.65698608 0 2.64145819-1.45580143 4.7939898-2.8578876 6.87751493-1.18526467 1.75888102-2.30465952 3.42052564-2.30465952 5.17509376 0 .3689494.29876668.66810817.66810817.66810817.3689494 0 .66889233-.29915876.66889233-.66810817 0-1.34484215.96334612-2.77241366 2.07842807-4.42425623 1.44403896-2.14547413 3.08411906-4.58108913 3.08411906-7.62835246 0-6.06119967-4.93396317-10.9939866-10.99437867-10.9939866z"/><path d="M20.2745737 4.91247828c0-.36894941-.29955085-.66850026-.66810817-.66850026-4.16665819 0-7.55777766 3.39151156-7.55777766 7.55346476 0 .37365439.29955085.67281315.66810817.67281315.37326232 0 .67281316-.29915876.67281316-.67281315 0-3.4236623 2.78848904-6.21254343 6.21685633-6.21254343.36855732 0 .66810817-.30347167.66810817-.67242107zM8.07062125 4.24829093c.11919301.08586601.2587743.12703465.39404268.12703465.20897984 0 .41011804-.09409974.54107352-.27484966.21721357-.29915877.15134375-.71751054-.14742293-.9351162L4.67950178.1267222c-.29955085-.21721357-.71751054-.147815-.93511619.15173584-.21721357.29563002-.15134375.71319763.14781501.93511619l4.17842065 3.0347167zM30.74395423 4.37532558c.13605254 0 .27524174-.04116864.39482683-.12703465l4.17802857-3.0347167c.29955085-.22191856.36542067-.63948617.14703085-.9351162-.21721357-.29955084-.63556534-.3689494-.9351162-.15173583l-4.17881273 3.03863752c-.29876668.21760566-.36424442.63595743-.14703084.9351162.13173964.18074992.33248575.27484966.54107352.27484966zM38.54050998 11.1293346h-5.16372337c-.37287023 0-.672029.29915877-.672029.66810818 0 .37365439.29915877.67281315.672029.67281315h5.16372337c.36816524 0 .66771609-.29915876.66771609-.67281315 0-.36855733-.29955085-.66810818-.66771609-.66810818zM6.5046447 11.79783486c0-.36894941-.29955084-.66810817-.66889233-.66810817H.66850025C.29994293 11.1293346 0 11.42888545 0 11.79783486c0 .3736544.29994293.67281316.66850025.67281316h5.16725212c.36934149-.00039209.66889234-.29955085.66889234-.67281316zM31.13878106 19.3516917c-.3007271-.21721358-.71907886-.15212793-.93590035.147815-.21721358.29955085-.15173584.71751054.14703084.93472411l4.17881274 3.0347167c.11958509.08665018.25916637.13134756.39404267.13134756.2054511 0 .41051013-.09841265.54107352-.27877049.21838982-.29955085.15252-.71790262-.14703085-.93511619l-4.17802857-3.0347167zM8.07062125 19.3516917 3.8922006 22.38640838c-.29955085.21721357-.36502858.63556534-.14781501.9351162.13213172.18035783.3360145.27877048.54107352.27877048.1391892 0 .27484966-.04469738.39404267-.13134756l4.17881274-3.0347167c.29915876-.21721357.3646365-.63517326.14742293-.9347241-.21760566-.29994294-.63595743-.36502859-.9351162-.14781502z"/>
             </g></svg>
        </span>  
        <span class="text-[#6AFF62] ">IDEAS</span></a>
    </h3>
    
  </div>
  
    <ul class="hidden lg:block">
      <li>
        <a class="relative shadow-2xl " href="https://github.com/z6nc/EjerciciosWebJS" target="_blank" aria-label="Ir a mi GitHub">
          <div id="ContenedorGit" class="relative flex gap-2 transform ease-in-out duration-100 hover:scale-110 ">
            <svg class="shadow-2xl " width="24" height="24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 0C5.37 0 0 5.37 0 12c0 5.29 3.44 9.78 8.2 11.37.6.1.82-.26.82-.57v-2.09c-3.34.73-4.05-1.56-4.05-1.56-.55-1.38-1.35-1.75-1.35-1.75-1.1-.75.08-.73.08-.73 1.22.09 1.87 1.26 1.87 1.26 1.08 1.84 2.82 1.31 3.51 1.01.1-.78.42-1.31.76-1.61-2.67-.3-5.47-1.34-5.47-5.96 0-1.32.47-2.41 1.24-3.26-.12-.3-.54-1.5.12-3.12 0 0 1.01-.32 3.31 1.23.96-.27 1.98-.41 3-.41s2.04.14 3 .41c2.29-1.55 3.3-1.23 3.3-1.23.67 1.62.24 2.82.12 3.12.77.85 1.24 1.94 1.24 3.26 0 4.62-2.8 5.66-5.48 5.96.43.37.81 1.1.81 2.21v3.28c0 .31.21.67.83.57C20.56 21.78 24 17.29 24 12c0-6.63-5.37-12-12-12z" />
            </svg>
                
          </div>
        </a>
      </li>
    </ul>
  </nav>

 
