---
import LigthIcon from "../../utils/LigthIcon.astro";
import GithubComponent from "../webComponets/GithubComponent.astro"
---

<nav
  class="flex text-center items-center gap-3 justify-center lg:justify-between mt-6 mx-3 lg:flex-row lg:mt-7"
>
  <div class="flex items-center gap-2">
    <h3 class="font-principal text-4xl">
      <a class="flex gap-2 text-center" href="/"
        ><span
          class="text-[#6AFF62] transition-all duration-200 hover:translate-y-[-12px]"
        >
          LABO
        </span>
        <LigthIcon />
        <span
          class="text-[#6AFF62] transition-all duration-200 hover:translate-y-[-12px]"
          >IDEAS</span
        ></a
      >
    </h3>
  </div>

   <GithubComponent />
</nav>
